streamlit  # Replace with your actual version
pandas==2.0.1        # Replace with your actual version
joblib==1.3.2        # Replace with your actual version
dill==0.3.7          # Replace with your actual version
scikit-learn==1.2.2         # Add the appropriate version if needed 
# ... other libraries with versions
